{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <h1>Cart page</h1>

    {{ dump(app.session.get('items')) }}

    <table>
      <thead>
      <tr>
        <th></th>
        <th>Quantity</th>
        <th>Item Name</th>
        <th>Item Price</th>
      </tr>
      </thead>

      <tbody>
      {% if app.session.get('items') %}
        {% for item in app.session.get('items') %}
          {% if item.name is same as ('formule') %}
            <tr>
              <th>X</th>
              <th>1</th>
              <th>{{ item.title }}</th>
              <th>{{ item.price }}</th>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
      </tbody>
    </table>

    <span>total price => {{ total }}</span>

    <a href="/checkout" class="btn-large">checkout</a>

  </div>


{% endblock %}
