/*body {*/
    /*background-color: lightgray;*/
/*}*/

@import "components/header.css";

img {
    width: 100px;
}
.ingredients > li {
    position: relative;
}
.ingredients > li > input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}
